.panel.panel-default
  %br
  = link_to 'New game player 1', game_path(1),{ class: 'btn btn-primary btn-lg', target: '_blank' }
  = link_to 'New game player 2', game_path(2),{ class: 'btn btn-primary btn-lg', target: '_blank' }
  %br
  %br
