
default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: test_app
  password:

development:
  <<: *default
  database: testapp_development

test: &test
  <<: *default
  database: testapp_test

production:
  <<: *default
  database: testapp_production
cucumber:
  <<: *test